.text-area {
    -fx-background-image: url(background.png);
    -fx-font-size: 1.5em;
    -fx-text-inner-color: white;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}
.framed.text-area .scroll-pane .viewport,
.framed.text-area .content {
    -fx-background-color: null;
}

